  body {
      background-color: #f8f9fa;
    }

    .sidebar {
      background-color: #fff;
      border-right: 1px solid #dddddd;
      height: 100vh;
      padding-top: 20px;
      width: 250px;
      position: fixed; /* Fixed sidebar */
    }

    .sidebar a {
      padding: 10px 20px;
      text-decoration: none;
      color: #495057;
      display: block;
    }

    .sidebar a:hover {
      background-color: #f2f2f2;
    }

    .content {
      margin-left: 250px; /* Adjusted margin for fixed sidebar */
      padding: 20px;
    }

    .card {
      border: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }

    .card-header {
      background-color: #fff;
      border-bottom: none;
    }

    .colored-card {
      color: white;
    }

    .green {
      background-color: #28a745;
    }

    .yellow {
      background-color: #ffc107;
    }

    .blue {
      background-color: #007bff;
    }

    .red {
      background-color: #dc3545;
    }